<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/start/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Order Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="viewState$ | async as vs">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Order Review</ion-title>
    </ion-toolbar>
  </ion-header>


{{ vs | json }}

  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="back()" expand="block" fill="solid" shape="round">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="next()" expand="block" fill="solid" shape="round">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>