<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/checkout/pages/checkout-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Shipping
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-margin ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Shipping
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngIf="viewState$ | async as vs">
    <form [formGroup]="shippingForm" ngxsForm="shipping.shippingForm">
      <ion-row>
        <ion-label>
          Shipping Methods
        </ion-label>
        <ion-col>
          <ion-radio-group (ionChange)="onAddShippingMethod($event)">
            <ion-item *ngFor="let shippingMethod of vs?.shippingOptions; index as i">
              <ion-label>
                {{ shippingMethod?.name }}
              </ion-label>
              <ion-text color="primary">
                {{ shippingMethod?.amount | currency:'GBP' }}
              </ion-text>
              <ion-radio color='primary' [value]="vs?.shippingOptions[i].id"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="vs.paymentSessions?.length >= 1">
        <ion-col size="12">
          <ion-label>
            Payment Session
          </ion-label>
          <ion-radio-group>
            <ion-item *ngFor="let p of vs?.paymentSessions; index as i" (click)="onAddPymentSession(p)">
              <ion-label>
                {{ p?.provider_id }}
              </ion-label>
              <ion-radio color='primary' [value]="p.id"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <!-- <ion-col>
        <ion-button (click)="back()" expand="block" fill="solid" shape="round">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col> -->
      <ion-col>
        <ion-button (click)="next()" expand="block" fill="solid" shape="round">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>