<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/pages/email/flow/email-password"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Forgot Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Forgot Password
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formGroup">
    <ion-item>
      <ion-label class="label" for="input-email">
        {{ 'auth.register.form.input.email.label' | translate }}
      </ion-label>
      <ion-input aria-label="Email" type="email" class="form-control" id="email" formControlName="email"
        placeholder="{{ 'auth.register.form.input.email.placeholder' | translate }}" pattern=".+@.+\..+"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer eqmHideWhenKeypadVisible @scaleHeight>
  <ion-toolbar>
    <ion-button (click)="requestForgotPassword()" expand="block" fill="solid" shape="round">
      {{ 'auth.request_password.form.button.request.title' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>