<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/checkout/pages/checkout-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Payment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-margin ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Payment
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>
        <ng-container *ngIf="viewState$ | async as vs">
          <div *ngIf="vs?.secretKey as clientSecret">
            {{ clientSecret }}
            <ngx-stripe-payment [clientSecret]="clientSecret"></ngx-stripe-payment>
          </div>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button (click)="confirm()" color="primary" expand="block" fill="outline" shape="round">
          <ion-icon name="card"></ion-icon>
          <ion-label>Submit Card</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>