<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/pages/email/flow/email-password"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Register
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="registerForm">
          <ion-item class="form-group">
            <ion-label class="label" for="input-email">
              {{ 'First Name' | translate }}
            </ion-label>
            <ion-input type="first_name" class="form-control" id="first_name" formControlName="first_name" placeholder="
              {{ 'First Name Placeholder' | translate }}">
            </ion-input>
          </ion-item>
          <ion-item class="form-group">
            <ion-label for="input-email">{{ 'Last Name' | translate }}</ion-label>
            <ion-input type="last_name" class="form-control" id="last_name" formControlName="last_name"
              placeholder="{{ 'Last Name Placeholder' | translate }}"></ion-input>
          </ion-item>
          <ion-item class="form-group">
            <ion-label for="input-email">{{ 'auth.register.form.input.email.label' | translate }}</ion-label>
            <ion-input type="email" class="form-control" id="email" formControlName="email"
              placeholder="{{ 'auth.register.form.input.email.placeholder' | translate }}"
              pattern=".+@.+\..+"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label for="input-username">{{ 'auth.register.form.input.username.label' | translate }}
            </ion-label>
            <ion-input type="text" class="form-control" id="username" formControlName="username"
              placeholder="{{ 'auth.register.form.input.username.placeholder' | translate }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label for="input-password">{{ 'auth.register.form.input.password.label' | translate }}
            </ion-label>
            <ion-input type="password" id="password" formControlName="password"
              placeholder="{{ 'auth.register.form.input.password.placeholder' | translate }}"></ion-input>
          </ion-item>
          <ion-item>
            <label for="input-password-confirmation">{{ 'auth.register.form.input.repeat_password.label' |
              translate
              }}</label>
            <ion-input type="password" id="password-confirmation" formControlName="passwordConfirmation"
              placeholder="{{ 'auth.register.form.input.repeat_password.placeholder' | translate }}"></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer eqmHideWhenKeypadVisible @scaleHeight>
  <ion-toolbar>
    <ion-button expand="block" fill="solid" shape="round" (click)="register()" [disabled]="!registerForm.valid">
      {{ 'auth.register.form.button.register.title' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>