<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="submitForm()">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid class="ion-margin">
    <form [formGroup]="passwordFormGroup">

      <ion-row>
        <ion-col>
          <ion-label for="input-oldPassword">
            {{ 'auth.profile.form.input.oldPassword.label' | translate }}
          </ion-label>
          <ion-input type="password" id="oldPassword" formControlName="oldPassword"
            placeholder="{{ 'auth.profile.form.input.oldPassword.placeholder' | translate }}">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label for="input-password">
            {{ 'auth.register.form.input.password.label' | translate }}
          </ion-label>
          <ion-input type="password" id="password" formControlName="password"
            placeholder="{{ 'auth.register.form.input.password.placeholder' | translate }}">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label for="input-password-confirmation">
            {{ 'auth.register.form.input.repeat_password.label' | translate }}
          </ion-label>
          <ion-input type="password" id="password-confirmation" formControlName="passwordConfirmation"
            placeholder="{{ 'auth.register.form.input.repeat_password.placeholder' | translate }}">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" (click)="updatePassword()"
            [disabled]="!passwordFormGroup.valid">
            {{ 'auth.profile.form.button.change_password' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>