<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/pages/auth-home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'LOGIN' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-login-form #form></app-login-form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item button (click)="registerPage()">
          <ion-label> don't have an account? </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item button (click)="forgotPasswordPage()">
          <ion-label> forgot password? </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer eqmHideWhenKeypadVisible @scaleHeight>
  <ion-toolbar>
    <ion-button (click)="login()" expand="block" fill="solid">
      Login With Strapi
    </ion-button>
  </ion-toolbar>
</ion-footer>